@using Cv.Mvc.Project.Models
@model List<TblReferans>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin_Layout.cshtml";
}

<div class="row">

    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                <h5>Referanslar</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#" class="dropdown-item">Config option 1</a>
                        </li>
                        <li>
                            <a href="#" class="dropdown-item">Config option 2</a>
                        </li>
                    </ul>
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">

                </div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>

                                <th>#</th>
                                <th>Ad Soyad</th>
                                <th>Unvan </th>
                                <th>Telefon </th>
                                <th>Mail</th>
                                <th>Sil</th>
                                <th>Düzenle</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ID</td>
                                    <td>@item.Adsoyad</td>
                                    <td>@item.Title</td>
                                    <td>@item.Telefon</td>
                                    <td>@item.Email</td>
                                    <td><a href="/Referans/DeleteReferans/@item.ID" class="btn btn-danger">Sil</a></td>
                                    <td><a href="/Referans/GetReferans/@item.ID" class="btn btn-dark">Düzenle</a></td>
                                </tr>
                            }


                        </tbody>
                    </table>
                    <a href="/Referans/AddReferans/" class="btn btn-dark">Referans Ekle</a>
                </div>

            </div>
        </div>
    </div>

</div>

